name: NixOS Configuration Build Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Enable Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check Nix flake
        run: nix flake check --all-systems

      - name: Build NixOS configuration
        run: nix build .#nixosConfigurations.framework.config.system.build.toplevel --print-build-logs

      - name: Check Nix formatting
        run: nix fmt -- --check .
